.footer {
    width: 317px;
    height: 64px;

    margin-left: 116px;
    margin-right: 117px;
    margin-bottom: 44px;

    display: flex;
    justify-content: center;
    flex-direction: row;

    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

.icons {
    width: 25px;
    height: 25px;

    margin-right: 24px;
    margin-top: 19px;
    margin-bottom: 20px;
}

#twt {
    margin-left: 73px;
}

#git {
    margin-right: 72.5px;
}
